/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/header.scss";

$green:#68B738;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/lato-regular.woff2") format("woff2"),
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswald-regular.woff2") format("woff2"),
}

img {
  max-width: 100%;
  height: auto;
}

.page__body {
  min-height: 100%;
  margin: 0;
}

main-header__logo-pic {
  width: 33px;
  height: 38px;
  margin-top: 13px;
  margin-left: 20px;
}

main-header__logo-text {
top: 23px;
left: 109px;
}
